<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cosoftstudios.UnitConverter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Unit-Converter</name>
    <platform name="android">
            <icon src="www/src/ic_launcher/mipmap-mdpi/ic_launcher.png" density="mdpi" />
            <icon src="www/src/ic_launcher/mipmap-hdpi/ic_launcher.png" density="hdpi" />
            <icon src="www/src/ic_launcher/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
            <icon src="www/src/ic_launcher/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
            <icon src="www/src/ic_launcher/mipmap-xxxhdpipi/ic_launcher.png" density="xxxhdpi" />
    </platform>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
