<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cosoftstudios.UnitConverter" version="1.0.0" versionCode = "10001" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Basic Unit Converter</name>
    <platform name="android">
            <icon src="www/src/ic_launcher/mipmap-mdpi/ic_launcher.png" density="mdpi" />
            <icon src="www/src/ic_launcher/mipmap-hdpi/ic_launcher.png" density="hdpi" />
            <icon src="www/src/ic_launcher/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
            <icon src="www/src/ic_launcher/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
            <icon src="www/src/ic_launcher/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
            <preference name="DisallowOverscroll" value="true"/>
    </platform>
    <description>
        A simple unit converting app.
    </description>
    <author email="null" href="">
        LucasGI
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
