body {
    background-color: #bbdefb;
}
.menuTitle {
    color: White;
    text-align: center;
}
.licenseInfo {
    border-top: 2px dotted;
    color: #bdbdbd;
    font-size: 80%;
}
.logo {
    font-size: 4vmax;
}
.cont {
    margin: auto;
    text-align: center;
    align-content: center;
    align-self: auto;
}
