body div html {
    /* background-color: #fff9c4; */
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
}

nav {
    z-index: 1;
}
.menuTitle {
    color: White;
    text-align: center;
}
.licenseInfo {
    border-top: 2px dotted;
    color: #bdbdbd;
    font-size: 80%;
}
.logo {
    font-size: 4vmax;
}
.cont {
    margin: auto;
    text-align: center;
    align-content: center;
    align-self: auto;
}
.tmpType {
    background-color: black;
}
.tmpBtn .uiBtn{
    margin-top: 20px;
    color: black;
}
.gitLink {
    margin-top: 10%;
    color: #757575;
}